.App {
  text-align: center;
  font-family: "Helvetica", monospace;
  /* width: 100%; */
}

#map{
  height: calc(100vh - 46px);
  width: 100vw;
}

table
{ 
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid #999;
    padding: 4px;
}